h1 {text-align:center; color:#CC33FF; text-size: 20pt; font-family: verdana}
p {text-align:justify; color:#3300FF; text-size: 20pt; font-family: arial}
h2 {text-align:center; color:#6633FF; text-size: 30pt; font-family: fantasy}
p2 {text-align:justify; color:#CC33FF; text-size: 20pt; font-family: verdana}
p3 {text-align:justify; color:#CC00FF; text-size: 20pt; font-family: arial}
h3 {text-align:center; color:#4B0082; text-size: 30pt; font-family: fantasy}